@tailwind base;
@tailwind components;
@tailwind utilities;

@property --stepeni {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.h1 {
  background-clip: text;
  background-image: linear-gradient(var(--stepeni), #fbbf24, #dc2626);
  animation: rotate 15s ease-in-out infinite;
}
@keyframes rotate {
  0% {
    --stepeni: 0deg;
  }
  30% {
    --stepeni: 180deg;
  }
  50% {
    --stepeni: 150deg;
  }
  75% {
    --stepeni: 200deg;
  }
  100% {
    --stepeni: 360deg;
  }
}

div:has(> .h1) > button {
}
